<%= form_for(@merchandise_management, html: { multipart: true }) do |f| %>
  <% if @merchandise_management.errors.any? %>
    <div id="error_explanation">
     <h2><%= pluralize(@merchandise_management.errors.count, "error") %> prohibited this merchandise_management from being saved:</h2>
   <ul>
      <% @merchandise_management.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <span class="picture">
    <%= f.label :参照をクリックして商品画像を登録してください %><br>
    <%= f.file_field :picture %>
  </span>
  <br>

 <%= f.label :商品名を選択してください %><br>
  <%= f.select :name, ['Ｔシャツ', 'アウター', 'パンツ', 'その他'] %>

<br><br>

  <div class="field">
    <%= f.label :サイズを入力してください %><br>
        S<%= f.radio_button :size,'S' %>&nbsp;&nbsp;
        M<%= f.radio_button :size,'M' %>&nbsp;&nbsp;
        L<%= f.radio_button :size,'L' %>&nbsp;&nbsp;
        LL<%= f.radio_button :size,'LL' %>
  </div>
  
  <%= f.label :カラーを選択してください %><br>
  <%= f.select :color, %w(white black blue gray その他) %>

<br><br>
  <div class="field">
    <%= f.label :型番を入力してください %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :メーカーを入力してください %><br>
    <%= f.text_field :maker %>
  </div>
  <div class="field">
    <%= f.label :単価を入力してください %><br>
    <%= f.number_field :price %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>

