<p id="notice"><%= notice %></p>

<h1><div align="left">商品管理</div></h1>

<!--

<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="checkbox" autocomplete="off" checked>画像
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off">商品
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off">サイズ
  </label>
  <label class="btn btn-primary active">
    <input type="checkbox" autocomplete="off">カラー
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off">型番
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off">メーカー
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off">単価
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off">数量
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off">日付
  </label>
</div> -->



<br>
</li><%= link_to '新規追加', new_merchandise_management_path, class: "btn btn-success" %></br>
<div class ="container" style="padding:5px 0"></br>

<table class ="table table-striped table-bordered table-condensed">
  <thead>
    <tr class="warning">
      <th>商品画像</th>
      <th>商品名</th>
      <th>サイズ</th>
      <th>カラー</th>
      <th>型番</th>
      <th>メーカー</th>
      <th>単価</th>
      <th>数量</th>
      <th></th>      
    </tr>
  </thead>

  <tbody>
    <% @merchandise_managements.each do |merchandise_management| %>
      <tr>
        <td>
          <% if merchandise_management.picture? %>
            <%= link_to merchandise_management.picture.to_s, class: "fancybox" do %>
              <%= image_tag merchandise_management.picture, style: "max-width:100px;max-height:100px" %>
            <% end %>
          <% end %>
        </td>
        <td><%= merchandise_management.name %></td>
        <td><%= merchandise_management.size %></td>
        <td><%= merchandise_management.color %></td>
        <td><%= merchandise_management.number %></td>
        <td><%= merchandise_management.maker %></td>
        <td><%= merchandise_management.price %></td>
        <td><%= merchandise_management.quantity %></td>
        <td>
          <%= link_to '商品詳細', merchandise_management, class: "btn btn-info" %>
          <%= link_to '編集', edit_merchandise_management_path(merchandise_management), class: "btn btn-success" %>
          <%= link_to '削除', merchandise_management, method: :delete, data: { confirm: '削除してもよろしいですか？' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>



