<p id="notice"><%= notice %></p>
<h1><div align="left">商品詳細</div></h1>
<br>

<table class ="table table-striped table-bordered table-condensed">
  <thead>
    <tr class="warning">
      <th>商品画像</th>
      <th>商品名</th>
      <th>サイズ</th>
      <th>カラー</th>
      <th>型番</th>
      <th>メーカー</th>
      <th>単価</th>
      <th>数量</th>
      <th colspan="3"></th>      
    </tr>
  </thead>
</table>



<p>
  <strong>商品画像:</strong>
  <%= link_to @merchandise_management.picture.to_s, class: "fancybox" do %>
    <%= image_tag @merchandise_management.picture, style: "max-width:100px;max-height:100px" %>
  <% end %>
</p>

<p>
  <strong>商品名:</strong>
  <%= @merchandise_management.name %>
</p>

<p>
  <strong>サイズ:</strong>
  <%= @merchandise_management.size %>
</p>

<p>
  <strong>カラー:</strong>
  <%= @merchandise_management.color %>
</p>

<p>
  <strong>型番:</strong>
  <%= @merchandise_management.number %>
</p>

<p>
  <strong>メーカー:</strong>
  <%= @merchandise_management.maker %>
</p>

<p>
  <strong>単価:</strong>
  <%= @merchandise_management.price %>
</p>

<p>
  <strong>数量:</strong>
  <%= @merchandise_management.quantity %>
</p>


<%= link_to '商品情報変更', edit_merchandise_management_path(@merchandise_management), class: "btn btn-success" %>
<%= link_to '商品管理', merchandise_managements_path, class: "btn btn-info" %>


<div class="container" style="padding:20px 0">

<table class= "table table-striped table-bordered table-hover table-condensed" >
<thead><tr class="warning"><th>発生日&nbsp;&nbsp;(8桁入力&nbsp;&nbsp;記入例：20160527)</th><th>増減数量&nbsp;(個)</th><th>削除</th></tr>
</thead>

<tbody>
<%= form_for [@merchandise_management, @merchandise_management.records.build], url: merchandise_management_records_path(@merchandise_management) do |f| %>
 <tr>
  <td><%= f.date_select :in %></td>
  <td><%= f.text_field :q %></td>
  <td><%= f.submit class: "btn btn-success" %></td>
 </tr> 
<% end %> 

<% @merchandise_management.records.each do |record| %>
  <% unless record.new_record? %>
  <tr>
    <td><%= record.in %></td><td><%= record.q %></td>
    <td><%= link_to '削除', merchandise_management_record_path(record.merchandise_management_id, record.id), method: :delete, data: { confirm: '削除しますが、よろしいでしょか?' }, class: "btn btn-danger" %></td>
  </tr>
  <% end %>
<% end %>

</tbody>
</table>



</div>
