/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fancybox
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body > .container {
padding-top: 60px;
padding-bottom: 50px;
}

.navbar-form {
  padding-right: 0px;
}

body {
 background-color: #FFFFCC
}

.nav.logo {
  width: 300px;
  height: 60px;
  background-image: image-url("logo1.jpg");
  background-repeat: no-repeat;
}
 
a:hover {color:white;}
